@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --page-max-width: 1400px;
  --card-max-width: 400px;
  --clr-main: rgb(55, 136, 171);
  --clr-shadow: rgb(219, 219, 219);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

i {
  cursor: pointer;
}
i:hover {
  color: rgb(31, 238, 210);
  transition: all 0.25s;
}

img {
  object-fit: cover;
}

body {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  row-gap: 5rem;
  padding: 6rem 4rem 0 6rem;

  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  background-color: white;

  overflow-x: hidden;
}

/* ================== HER0 =================== */

.hero::before {
  content: '';
  background-color: var(--clr-main);
  width: 200vw;
  height: 100rem;
  position: absolute;
  transform: rotate(-10deg) translateX(-30rem) translateY(-60rem);
  z-index: -1;
  top: 0;
}

.hero {
  width: 100%;
  padding: 2rem;
  max-width: var(--page-max-width);
  /* position: relative; */
  /* overflow-x: hidden; */

  .image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;

    .image-text {
      position: absolute;
      top: 450px;
      left: 10px;
      color: white;
      font-size: 3.9rem;
      font-family: 'Playfair Display';
    }

    img {
      float: left;
      margin: 0 20px 0 0;
      width: 400px;
      height: 500px;
      box-shadow: 0px 0px 5px 2px rgb(0, 0, 0);
      border-radius: 5px;
    }
  }
  .about-wrapper {
    padding: 5rem 2rem 2rem 2rem;
    margin-top: 2rem;
    margin-left: 5rem;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 2px grey;

    h3 {
      padding-bottom: 2rem;
      font-family: 'Playfair Display';
      font-size: 3rem;
      font-weight: 100;
    }
    p {
      padding-bottom: 2rem;
      text-align: justify;
    }
    .icons-container {
      font-size: 2rem;
      display: flex;
      justify-content: flex-end;
      gap: 2rem;
    }
  }
}

/* ======================== PROJECTS ========================= */

.projects {
  max-width: var(--page-max-width);
  width: 100%;

  h3 {
    padding-bottom: 2rem;
    font-size: 2rem;
    text-align: center;
    font-family: 'Playfair Display';
  }
}

.card-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 400px));
  justify-content: center;
  gap: 2rem;

  .card {
    min-height: 400px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    box-shadow: 0px 0px 5px 5px var(--clr-shadow);
    gap: 1rem;

    img {
      width: 100%;
      height: 200px;
    }

    .card-info {
      padding: 1rem;

      .card-nav {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-bottom: 1rem;

        .icons {
          display: flex;
          gap: 1rem;
        }
      }
    }
  }
}

/* ================ FOOTER =============== */
.footer::before {
  content: '';
  background-color: var(--clr-main);
  width: 100vw;
  min-height: 31rem;

  z-index: -1;
  position: absolute;
  left: 0;
  transform: translateY(-3rem);
}
.footer {
  width: 100%;
  max-width: var(--page-max-width);
  min-height: 20rem;
  padding: 2rem 0 0 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  color: white;
  gap: 2rem;

  img {
    max-width: 600px;
    min-height: 400px;
    object-position: left;
  }
}

.footer-left {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  h3 {
    font-size: 3rem;
    font-family: 'Playfair Display';
    font-weight: 100;
    padding-bottom: 1rem;
  }

  .links {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
  }
}

.credits {
  position: absolute;
  bottom: -3rem;
  display: flex;
  gap: 2rem;
  font-size: 0.8rem;
  font-style: italic;

  a {
    color: white;
  }
}

/* ================ MEDIA QUERIES ======================= */
@media (max-width: 980px) {
  /* body {
    padding: 1rem;
  } */
  .footer::before {
    min-height: 35rem;
  }
  .footer {
    padding: 2rem;

    img {
      width: 50vw;
    }
  }
}

@media (max-width: 750px) {
  .hero::before {
    transform: rotate(-10deg) translateX(-10rem) translateY(-60rem);
  }
  .hero {
    display: flex;
    flex-flow: column nowrap;
    padding: 0rem;

    .image-wrapper {
      display: grid;

      img {
        float: none;
        width: 100%;
        height: auto;
        box-shadow: none;

        grid-row: 1/2;
        grid-column: 1/2;
      }

      .image-text {
        position: static;
        font-size: 20vw;
        line-height: 20vw;
        font-weight: 100;

        grid-row: 1/2;
        grid-column: 1/2;
        justify-self: left;
        align-self: end;
        margin-left: 0.2em;
      }
    }

    .about-wrapper {
      margin: 0;
      box-shadow: none;
    }
  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }

  .footer::before {
    min-height: 55rem;
    bottom: -4rem;
  }
  .footer {
    flex-flow: column nowrap;
    align-items: center;

    .footer-left {
      row-gap: 2rem;
    }

    img {
      width: 100%;
    }
    .credits {
      bottom: 0;
    }
  }
}
